*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  
}
/* nav starts here */
.nav{
    background-color: #F5F5F5;
    width: 100%;
    height: 100px;
}
.top{
    display: flex;
    justify-content: space-between;
    padding: 24px 160px;
}
.name{
    font-weight: bold;
    font-size: 32px;
    font-family: ;
    color: #0E0E0E;
}
.sign-in{
    color: #006A50;
    width: 116px;
    height: 52px;
    border: 1px solid #006A50;
    border-radius: 5px;
    font-weight: bold;
}


/* nav ends here */

/* banner starts here */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 560px;
    background-color: #C6E4D6;
    margin-left: 24px;
    gap: 24px;
    padding: 100px;
    border-radius: 24px;
}
.ban{
    font-size: 24px;
    color: #0E0E0E;
}
.banner-texts{
    font-size: 56px;
    color: #0E0E0E;
    font-weight: bold;
    width: 622px;
    height: 201px;
}

.banner-btn{
    background-color: #006A50;
    color: white;
    width: 270px;
    height: 56px;
    padding:  17px;
    border-radius: 8px;
    font-weight: bold;
}
/* banner ends here */

/* pillars section starts here */

.pillars-container{
    max-width: 1280px;
    height: 324px;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin: 0 24px;
    background-color:  #F5F5F5;
}
.card{
    background-color: white;
    padding: 24px;
    width: 290px;
    height: 244px;
    border-radius: 16px;
   
}
.card-icon{
    width: 64px;
    height: 64px;
    margin-bottom: 5px;
}.card-title{
    color: rgba(14, 14, 14, 0.8);
    width: 254px;
    height: 24px;
    margin-bottom: 5px;
}
.card-text{
    color: rgba(14, 14, 14, 0.7);
    width: 254px;
    height: 72px;
}

/* pillar sections ends here */
/* vision starts here */
.vision{
  
    max-width: 1280px;
    height: 324px;
    padding: 80px;
   
    margin: 100px 24px;
    background-color:  #F5F5F5;
}

   

.vison-title{
    color:  rgba(14, 14, 14, 0.8);
    font-weight: bold;
    font-size: 40px;
    width: 1280px;
    height: 48px;
}
.vision-text{
    color:  rgba(14, 14, 14, 0.7);
    font-size: 16px;

}
.vision-card{
    display: flex;
    justify-content: space-around;
    max-width: 1280px;
    height: 325px;
    text-align: center;
}
.card-body{
    width: 411px;
    height: 325px;
}
.btn-vision1{
    width: 122px;
    height: 41px;
    text-align: center;
    padding: 11px;
    font-weight: bold;
    color: white;
    border-radius: 16px;
    background-color: #5490F5;
}
.btn-vision2{
    width: 122px;
    height: 41px;
    text-align: center;
    padding:11px;
    font-weight: bold;
    color: white;
    border-radius: 16px;
    background-color:#09A15C;
}
.btn-vision3{
    width: 122px;
    height: 41px;
    text-align: center;
    padding:  11px;
    font-weight: bold;
    color: white;
    border-radius: 16px;
    background-color: #FFC239;
}
.btn-vision1:hover, 
.btn-vision2:hover, 
.btn-vision3:hover {
    background-color: gray;
}

/* vision ends here */
/* quote section starts here */
.quote{
    background-image: url(quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin: 50px;
    max-width: 1280px;
    height: 256px;
}
.quote-text{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
    width: 1232px;
    height: 96px;
    padding: 1rem;
    line-height: 24px;
}
.quote-footer{
  width: 1232px;
  height: 52px;
}
.yunus{
    width: 1232px;
  height: 24px;
  font-weight: semibold;
  font-size: 20px;
  color: rgba(14, 14, 14, 0.8);
}
.position{
    width: 1232px;
  height: 24px;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.6);
}
/* quote section ends here */
/* opinion starts here */

  .opinion{
    max-width: 1280px;
    height: 600px;
    padding: 80px;
   
    margin:  0 24px;
    background-color:  #F5F5F5;
  }
  .opinion-title{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
    text-align: left;
    max-width: 1280px;
    height: 48px;
   margin-bottom: 50px;
  }

  .opinion-table{
    width: 1280px;
    height: 409px;
  }
  table{
    width: 1150px;
    height: 345px;
    text-align: left;
    border-collapse: collapse;
    padding: 0 10px;
    background-color: white;
  }
  .table-header{
    background-color: #C6E4D6;
    font-size: 20px;
    font-weight: semibold;
    color: #0E0E0E; 
  }
  .t-header{
    padding: 0.1rem;
    margin-left: 5px;
  }
  td{
    font-size: 16px;
    margin-left: 5px;
  }
  .btn-table{
    width: 152px;
    height: 44px;
    font-size: 16px;
    font-weight: semibold;
  }
/* /* opinion endss here */ 